*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#top-bar{
    background-color: #333;
    border-bottom: 5px solid #fd8a24;
    padding: 8px;
}

#top-bar p{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.header{
    max-width: 888px;
    margin: auto;
    padding: 38px;
}

.titulo{
    text-align: center;
    text-align: justify;
    color: #111;
    font-size: 56px;
    line-height: 64px;
}
.sub-titulo{
    margin-top: 25px;
    font-weight: normal;
    font-size: 20px;
    color: #555;
}

.autor{
    margin-top: 25px;
    font-size: 10px;
    font-weight: bold;
    color: #555;
}

.data{
    margin-top: 5px;
    font-size: 7px;
    color: #555;
}

.contender-rede{
    margin-top: 15px;

}

.rede-sociais{
    margin-right: 5px;
}

.facebook{
    width: 20px;
}

.twitter{
    width: 20px;
}

.whatsapp{
    width: 20px;
}

hr{
    margin-top: 15px;
}

.content{
    width: 700px;
    margin: auto;
}

.content p{
    text-align: justify;
    color: #555;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
}


.link a{
    font-weight: bold;
    text-decoration: none;
    color: #fd8a24;
    text-align: left;
}

.img-contender{
    margin-top: 10px;
    padding: 5px;
}

.img-contender img{
    width: 100%;
}

.img-contender p{
    color: #555;
    margin-top: 5px;
    font-size: 7px;
    text-align: left;
    padding: 0;
}

.content h2{
    font-size: 18px;
    padding-left: 10px;
    margin-top: 15px;
}

.footer{
    background-color: #333;
    height: 50px;
    margin-top: 25px;
}